<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BOARD</title>
    <th:block th:replace="fragment/head"></th:block>
</head>
<body>
    <th:block th:replace="fragment/nav :: navFragment('board')"></th:block>

    <div class="container">
      <div class="video-list">
        <!-- 비디오 카드 1 -->
        <div class="video-card" th:each="board : ${boards}" th:onclick="|location.href='@{/board/detail(boardId=${board.id})}'|">
          <img th:src="${board.getThumbnail()}" alt="Thumbnail 1" class="thumbnail">
          <div class="video-info">
            <p class="title" th:text="${board.getTitle()}"></p>
            <p class="description" th:text="${board.getContent()}"></p>
          </div>
        </div>
      </div>
    </div>

    <th:block th:replace="fragment/footer :: footerFragment"></th:block>
</body>
</html>