<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
    
  <th:block layout:fragment="content">
    <main class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5">Spring Boot Tutorial</h1>
        <p class="lead">
          Spring Boot를 이용한 웹 페이지 제작
          <br>
          Spring Security, JPA를 이용한 보안 설정과 데이터 다루기
        </p>

      </div>
    </main>
  </th:block>

</html>